.root{
    --white:#f0f0f0;
    --almostWhite:#d0d0d0;
    --notWhite:#b0b0b0;
    --grey:#9f9f9f;
    --black: #0f0f0f;
}

body {
    align-items: center;
    background-color: var(--bg-color);
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
    color: var(--black)
}

.box {
    border: none;
    align-items: center;
    background-color: var(--grey);
    border-radius: 10px;
    z-index: 0;
}
.container {
    justify-content: center;
    display: grid;
    color: rgba(255, 255, 255, 0.9);
    grid-template-columns: min(9vw, 9vh) min(9vw, 9vh) min(9vw, 9vh) min(9vw, 9vh) min(9vw, 9vh) min(9vw, 9vh) min(9vw, 9vh) min(9vw, 9vh);
    grid-template-rows: min(9vw, 9vh) min(9vw, 9vh) min(9vw, 9vh) min(9vw, 9vh) min(9vw, 9vh) min(9vw, 9vh) min(9vw, 9vh) min(9vw, 9vh);
    gap: min(1vw, 1vh);
}