:root{
    --white:#f0f0f0;
    --almostWhite:#d0d0d0;
    --notWhite:#b0b0b0;
    --grey:#9f9f9f;
    --black: #0f0f0f;
}

.sidebar {
    width: 10vw;
    height: 100vh;
    background-color: var(--grey);
}

.text-area {
    background-color: var(--notWhite);
    flex-wrap: wrap;
    overflow-y: auto;
    flex-direction: column-reverse;
    width: 90vw;
    height: 85vh;
    top:0;
}

.messageBox {
    max-width: 85vw;
    width: auto;
}

.message {
    background-color: var(--grey);
    color: var(--white);
}

.sendBox {
    width: 90vw;
    height: auto;
    bottom: 0;
}