{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
    <div style="margin:auto">
        <form action="/" method="post">
            <div class="mb-1">
                <label for="user" class="form-label">username</label>
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="user" name="user" minlength="1" maxlength="20">
            </div>
            <div class="mb-1">
                <label for="message" class="form-label">message</label>
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="message" name="message" placeholder="message" minlength="1" maxlength="255">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary mb-2">send</button>
            </div>
        </form>
        {% for i in messages %}
        <div class="mb-3">
            <p>{{ i["user"] }}</p>
        </div>
        <div class="mb-2">
            <p><button type="submit" class="btn btn-primary mb-2">{{ i["message"] }}</button></p>
        </div>
        {% endfor %}
    </div>
{% endblock %}